/* menu */
	.menu-tiles {
		width: 100%;
		text-align: center;
	}
	.menu-tile {
		font-size: x-large;
		float: center;	
		display: inline-block;
		margin-right: 50px;
	}
	.menu-tile a {
		color: #777777;
		display: table-cell;
		vertical-align: middle;
		width: 150px;
		height: 150px;
		border: 2px solid #999999;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		text-decoration: none;
	}
	.menu-tile a:hover {
		color: #859B99;
		border-color: #B8CFDC;
	}
	
/* forms */
	form {
		margin-bottom: 20px;
	}
	.input-wrap {
		position: relative;
		font-size: 120%;
		height: 40px
	}
	
	/* input */
		.input-wrap input, .input-wrap select {
			border: 1px solid #999999;
			width: 200px;
			padding-left: 5px;
		}
		.input-wrap input {
			font-size: 120%;
			height: 30px;
		}
		.input-wrap select {
			height: 32px;
		}
		.input-wrap input[type="submit"] {
			color: red !important;
		}
	/* label */
		.input-wrap label {
			display: inline-block;
			font-size: 120%;
			width: 200px;
		}
		.input-wrap .prefix {
			position: absolute;
			left: 185px;
			top: 10px;
		}
		
	/* error */
		.input-wrap .errorMessage {
			position: absolute;
			color: red;
			left: 420px;
			top: 8px;
		}
		.errorSummary {
			display: none;
		}
		
/* links */
	.button {
		color: #777777;
		background-color: #FFFFFF;
		border: 2px solid #999999;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		margin-right: 10px;
		padding: 8px 12px;
		text-decoration: none;
	}
	.button:hover {
		color: #859B99;
		border-color: #B8CFDC;
	}